@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnBackground {
    @apply drop-shadow-md absolute inset-0 -z-10 w-full h-full rounded-lg origin-center group-hover:scale-110 duration-200;
  }
}

@layer utilities {
    .height {
      min-height: 100svh;
    }
    .pushable {
      transition: filter 250ms;
    }
    .shadow, .front {
      transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    .pushable:hover .front, .pushable:hover .shadow  {
      transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    .pushable:active .front, .pushable:active .shadow {
      transition: transform 34ms;
    }
    .pushable:focus:not(:focus-visible) {
      outline: none;
    }
  }