@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnBackground {
    @apply drop-shadow-md absolute inset-0 -z-10 w-full h-full rounded-lg origin-center group-hover:scale-110 duration-200;
  }
}

@layer utilities {
    .height {
      min-height: 100svh;
    }
    .pushable {
      transition: filter 250ms;
    }
    .shadow, .front {
      transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    .pushable:hover .front, .pushable:hover .shadow  {
      transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    .pushable:active .front, .pushable:active .shadow {
      transition: transform 34ms;
    }
    .pushable:focus:not(:focus-visible) {
      outline: none;
    }


    /* Firefox */
    .scrollbar {
      scrollbar-color: rgb(134, 120, 158) transparent;
      scrollbar-width: thin;
    }
    /* WebKit and Chromiums */
    .scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(134, 120, 158);
      border-radius: 5px;
    }
    .scrollbarDark {
      scrollbar-color: rgb(121, 99, 160) transparent;
    }
    /* WebKit and Chromiums */
    .scrollbarDark::-webkit-scrollbar-thumb {
      background: rgb(121, 99, 160);
    }
  }